<!DOCTYPE html>

<%- include('../partials/head'); %>

<body class="container">
    
    <%- include('../partials/header', {pagina: 'Sobre'}); %>

    <main>
        <div class="jumbotron">
            <h1 class="display-4">Sobre</h1>
            <p class="lead">Curso NodeJS com EJS - Rocketseat</p>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>


</html>